*{
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
  box-sizing: border-box;

  
}
body{
  height: 600px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: grey;
  
}
.container{
  background-color: white;
  width: 400px;
  border-radius: 7px;
  padding: 15px 30px;
  box-shadow: 30px 30px 20px;
  @media screen and  (max-width:600px) {
    margin-top: 150%;
  }
}
.currency{
  padding: 20px 20px;

}

h1{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  color: rgb(182, 20, 20);
  text-align: center;
  text-shadow: 1px 0 3px;
}
div{
  margin-bottom: 20px;
}
label{
  display: block;
  font-weight: bold;
}
input, select{
  width: 100%;
  height: 30px;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
}
input:focus,
select:focus{
   border-color: skyblue;
}
.result{
  color: rgb(26, 137, 228);
}
.result p{
  font-weight: bold;
  text-align: center;
}